<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.unisinos.kickoffapp" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD6bzbwKaZKiHy12YpFQr7D-B4ETA5noKo" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activities.NewAccountActivity"
            android:label="@string/title_activity_new_account"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Facebook login -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activities.PlayerMainActivity"
            android:label="@string/title_activity_player_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.EnterpriseMainActivity"
            android:label="@string/title_activity_enterprise_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ConfirmAccountActivity"
            android:label="@string/title_activity_confirm_account"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.CreateCourtActivity"
            android:label="@string/title_activity_create_court"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.EditCourtActivity"
            android:label="@string/title_activity_edit_court"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.CreateScheduleActivity"
            android:label="@string/title_activity_create_schedule"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.EditScheduleActivity"
            android:label="@string/title_activity_edit_schedule"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.CreateGameActivity"
            android:label="@string/title_activity_create_game"
            android:theme="@style/AppTheme.ActionBar" />
    </application>

</manifest>